
<section id="pantalla-dividida">

    <div class="imagen">
        <!--Lado izquierdo -->
        <img class="imagen1" src="assets/Imagenes/sugerencia.png" alt="login"
            content="width=device-width, user-scalable=no,initial-scale=1, maxium-scale=1, minimum-scalae=1">
    </div>

    <div class="sugerencias">
        <!--Lado izquierdo -->
        <div class="sugerencia">
            <canvas baseChart [data]="ChartData" [labels]="ChartLabels" [chartType]="ChartType"></canvas>
            <p>
                Si quieres saber un poco mas de tus resultados
                <a
                    href="https://cloud.ibm.com/docs/services/tone-analyzer?topic=tone-analyzer-utgpe&_ga=2.38640099.1316575520.1588708327-601335877.1568159002&cm_mc_uid=77960859907015681590017&cm_mc_sid_50200000=94747211588595594180&cm_mc_sid_52640000=16423811588599540961#tones-tone">click
                    aquí.</a></p>
        </div>
    </div>
</section>