<div class="loginBox" ><!--Lado derecho -->
   <img class="avatar" src="assets/Imagenes/login.png" alt="login" content="width=device-width, user-scalable=no,initial-scale=1, maxium-scale=1, minimum-scalae=1">
      <form id="formularioLogin" [formGroup]="signupForm" (ngSubmit)= "onSubmit()">


        <div class="input" type="text" ><!--Correo-->
          <label>Email</label>
          <input #user formControlName="user" type="email" id="user">
        </div>

        <div class="input" type="password"><!--Contraseña-->
          <label>Password</label>
          <input #password formControlName="password" type="password" id="password">
        </div>

        <p>
          <button class="go" routerLink="/Encuesta1" routerLinkActive="active" [disabled]="loading" (click)="login(user.value, password.value)">Iniciar sesi&oacute;n</button><!--Boton GO-->
        </p>

        <br>

        <p>
          <button class="go" routerLink="/Registro" routerLinkActive="active">Crear cuenta </button><!--Boton crear cuenta-->


        </p>
      </form>
    </div>
